.container {
  width: 100%;
  height: 100%;
}

.game-content {
  margin: 0 auto;
}

.carousel-items {
  display: flex;
  margin-top: 25px;
}

.banner {
  background-image: url(https://wallpaperaccess.com/full/3511118.jpg);
  background-position: 50% 35%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  /* height: 442px; */
  /* height: 600px; */
  /* height: 460px; */
  width: 100%;
  /* width: 1096px; */
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 0 auto;
  max-width: 1520px;
}

.images > img {
  width: 495px;
  height: 280px;
  margin-bottom: 9px;
}

.images > *:hover {
  /* width: 100%;
  height: 100%; */
  transform: scale(1.5);
}

.enlarged {
  transform: scale(1.2);
}

.summary {
  max-width: 1075px;
  /* text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; */
}

.header2 {
  display: flex;
  flex-direction: column;
  background-color: #fafafa;
  margin-bottom: 30px;
  height: 298px;
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.3);
  height: auto;
}

.main-content {
  margin: 0 auto;
  max-width: 1075px;
  display: grid;
  grid-column-gap: 30px;
  grid-template-columns: 215px auto;
  padding: 0 30px;
}

.card-image {
  height: 352px;
  height: 304px;
  width: 215px;
  margin-top: -125px;
  border-radius: 2px;
  box-shadow: 0 0 29px rgba(49, 54, 68, 0.25);
  /* margin-top: 15px; */
}

.tags {
  /* background-color: #4D4DCA; */
}

/* .nav {
  position: absolute;
  transition: 0.8s ease 0s, top 0.5s ease 0s;
  background: rgba(35, 38, 67, 0.5);
  color: #e5e7ea;
  background: rgba(238,97,125, 0.5)
} */
