.container {
  width: 100%;
  height: 100%;
}

.game-content {
  /* display: flex;
  flex-direction: column;
  place-items: center;
  justify-content: center; */
  margin: 0 auto;
  /* max-width: 1075px; */
}

.carousel-items {
  display: flex;
  margin-top: 25px;
  /* justify-content: space-around; */
  /* flex: 1 0 16%; */
}

.banner {
  background-image: url(https://wallpaperaccess.com/full/3511118.jpg);
  background-position: 50% 35%;
  /* background-position: center center; */
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  /* height: 442px; */
  /* height: 600px; */
  /* height: 460px; */
  width: 100%;
  /* width: 1096px; */
}

.images {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.images > img {
  /* width: 220px;
  height: 130px; */
  width: 495px;
  height: 280px;
  margin-bottom: 25px;
}

.summary {
  max-width: 1075px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.header2 {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin-bottom: 50px;
  height: 298px;
}

.main-content {
  margin: 0 auto;
  max-width: 1075px;
}

/* .nav {
  position: absolute;
  transition: 0.8s ease 0s, top 0.5s ease 0s;
  background: rgba(35, 38, 67, 0.5);
  color: #e5e7ea;
} */
