html, body {
  /* height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  width: 100vw; */
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* maybe remove this */
#root {
  height: 100vh;
  width: 100vw;
}

:root {
  --background: #EDF1F5;
  --accent: #E31B6D;
}